/*Editing image properties*/
img{
  height: 60%;
  width: 30%;
  display: inline-block;
  margin: 0 auto;
}

/*Editing an id*/
#main_img {
  height: 60%;
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  border: 2px red solid;
}

/*Editing a class*/
.gallery {
  border: 2px red solid;
}

/*Editing h1(main) heading*/
h1{
  text-align: left;
  display: inline;
  color: #E80101;
}

/*Editing frame object properties*/
iframe{
  position: right;
  text-align: right;
  display: inline;
  padding: 0;
  border: 2px #EB8801 dashed;
}

/*Editing main body properties*/
body{
  background-color: #1AEEE7;
  background-image: url("https://i.pinimg.com/originals/b7/89/b3/b789b34f9978a5b2c7a51adc9f620935.gif");
  background-size: contain;
  font-family: fantasy;
  font-size: 15px;
}

/*Editing divider properties*/
div {
  /* background-image: url("https://78.media.tumblr.com/7d930381e399e944f2704ea293e75463/tumblr_okgtijJbpL1rcufwuo1_500.gif");--> */
  background-size: auto;
  border: 5px blue dashed;
}

/*Editing subheading 1 id*/
#subheading_1 {
  font-style: italic;
  font-weight: normal;
  color: #B901E8
}

/*Editing divs class from layout.html*/
.layout_1 {
  display: inline;
}

#container_1 {
  text-align: center;
  border: 2px blue solid;
  position: absolute;
  top: 50px;
}

.layout_2 {
  background-color: white;
  height: 50px;
}

#container_2 {
  border-color: #FF2D00;
  background-color: white;
}

.layout_3 {
  background-color: #FF2D00;
  border: 0;
  /*Add spacing on the outside of the boxes*/
  margin: 10px;
  /*Add spacing on the outside of the words inside the boxes*/
  padding-left: 100px
}

#container_3 {
  border: 0;
}
