/*Editing image properties*/
img{
  height: 60%;
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  border: 2px red solid;
}

/*Editing h1(main) heading*/
h1{
  display: inline;
  color: #9933ff;
}

/*Editing frame object properties*/
iframe{
  display: inline;
  padding: 0;
  border: 2px blue dashed;
}

/*Editing main body properties*/
body{
  background-color: #0F8;
  font-family: fantasy;
  font-size: 15px;
}

/*Editing divider properties*/
div{
  text-align: center;
}
