/*Editing image properties*/
img{
  height: 60%;
  width: 30%;
  display: inline-block;
  margin: 0 auto;
}

/*Editing an id*/
#main_img {
  height: 60%;
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  border: 2px red solid;
}

/*Editing a class*/
.gallery {
  border: 2px red solid;
}

/*Editing h1(main) heading*/
h1 {
  text-align: center;
  display: inline;
  color: #4D00D3;
}

/*Editing iframe object properties*/
#heading_giph {
  display: inline;
  padding: 2px;
  margin: 2px;
  border: 2px #EB8801 solid;
}

/*Editing divider properties*/
#heading {
  /*background-image: url("https://78.media.tumblr.com/7d930381e399e944f2704ea293e75463/tumblr_okgtijJbpL1rcufwuo1_500.gif");*/
  background-position: center;
  background-repeat: no-repeat;

  margin: 2px;
  padding: 2px;
  border-size: 2px;
  border-color: blue;
  border-style: dashed;
}

/*Editing main body properties*/
body{
  background-color: #1AEEE7;
  background-image: url("http://getwallpapers.com/wallpaper/full/2/4/8/946166-purple-pink-wallpaper-1920x1080-for-mac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

  font-family: fantasy;
  font-size: 15px;
}

/*Editing subheading 1 id*/
#subheading_1 {
  font-style: italic;
  font-weight: normal;
  color: #B901E8
}

/*Editing divs class from layout.html*/
.layout_1 {
  display: inline;
}

#container_1 {
  text-align: center;
  border: 2px blue solid;
  position: absolute;
  top: 50px;
}

.layout_2 {
  background-color: white;
  height: 50px;
}

#container_2 {
  border-color: #FF2D00;
  background-color: white;
}

.layout_3 {
  background-color: #FF2D00;
  border: 0;
  /*Add spacing on the outside of the boxes*/
  margin: 10px;
  /*Add spacing on the outside of the words inside the boxes*/
  padding-left: 100px
}

#container_3 {
  border: 0;
}
